header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    background-color: $header_bg;

    .container {
        display: flex;
        gap: 504px;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 67px;
    }

    .logo {
        width: 96px;
        height: 50px;
    }

    .nav {
        display: flex;
        list-style-type: none;
        gap: 48.25px;
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: $header_nav;
            font-weight: 600;
            font-size: 18px;
        }

        .active {
            color: $avtive_nav;
        }
    }

    .networks {
        display: flex;
        gap: 30px;

        img {
            width: 40px;
            height: 40px;
        }
    }

    @include responsive(lg) {
        .container {
            gap: 163px;
        }

        .menu {
            gap: 80px;
        }

        .nav {
            gap: 30px;
        }
    }
}